extends layout

block content
  #main
    .score-container Score:
      .score
    .timer
    .gameContainer
      .leaderboard
      .panel-container
        -for(var i = 0; i < 9; i++){
          div(id='panel-'+i class='panel')
        -}
    .inputContainer
    select#dropbox
    button#submit-btn Submit Answer
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js")
  script(type="text/javascript" src="js/flipclock.min.js")
  script(type="text/javascript" src="js/bundle.js")
