doctype html
html
  head
    title= title
    link(href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Crimson+Text|Fira+Sans' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- link(rel='stylesheet', href='/stylesheets/flipclock.css')
  body
    block content
