$main: #48497b;
$contrast: #fd633f;
$light: #e0dddc;
$dark: #545454;

* {
	box-sizing: border-box;
	font-size: 100%;
}

h1 {
	font-family: 'Crimson Text';
	font-size: 3em;
}

#main {
  width: 100vw;
  height: 100vh;
  background-color: $main;
  color: $contrast;
}

.gameContainer {
	margin: 0 auto;
	height: 40vw;
	width: 40vw;
	display: flex;
	background: url('http://i.imgur.com/Vf7gb.jpg') no-repeat center;
	background-size: cover;
}

.panel-container {
	width: 40vw;
	height: 40vw;
	display: flex;
	flex-wrap: wrap;
}

.panel {
	background-color: olivedrab;
	width: (40vw / 3);
	height: (40vw / 3);
	opacity: .5;
	border: 1px solid tomato;
}

.hidden {
	opacity: 0;
}

.overlay {
	width: 100vw;
	height: 100vh;
	position: absolute;
	background: tomato;
}